body {
    background-color: blue
}

.container-m {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
}

.card {
    background-color: rgb(123, 60, 60);
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.u-color {
    color: blue
}

.user-image img {
    border: 3px solid #00f;
    padding: 2px
}